* {
    margin: 0px;
    padding: 0px;
}
body{
    height: 1000px;
    background-color: black;
}
.home {
    background-image: url(../images/bk.jpg.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
}

.home .nav {
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;
}

.home .nav ul {
    list-style: none;
}

.home .nav ul li {
    float: right;
    margin: 15px 35px 5px 20px;
}

.home .nav ul li a {
    
    color: white;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.home .nav ul li:hover {
    color: rgb(3, 0, 5);
    background-color: rgb(13, 55, 102);
    border: 2px solid gray;
    border-radius: 10px;
  }
  /* .home .nav ul li a:hover {
    color: rgb(3, 0, 5);
    background-color: rgb(13, 55, 102);
    border: 2px solid gray;
    border-radius: 20px;
  } */
.home .nav ul li img {
    width: 40px;
}

.home .nav ul .logo {
    float: left;
}

.home .section {
    text-align: center;
    margin: 30px 0px;
    background-color: transparent;
}

.home .section h1 {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px 0px;
}

.home .section img {
    width: 300px;
    transition: all 1s;
}
.home .section img:hover{
   transform: rotate(360deg) scale(1.2) translate(100px , 50px);
}

.home .section button {
    border-radius: 15px;
    font-size: medium;
    width: 150px;
    background-color: rgb(15, 5, 26);
    color: white;
    transition: all .4s;
}
.home .section button:hover{
    background-color: gray;
    color: rgb(7, 15, 4);
    transform: translate(10px);
}
.home .layout {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
}
.products .item{
    margin: 40px 5px;
}
.products div {
    width: 24%;
    height: auto;
    background-color: darkolivegreen;
    float: left;
    margin-right: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}

.products img {
    width: 100%;
    border-radius: 20px;
}

.products h4,
p {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    padding-left: 10px;
}

.products button {
    background-color: rgb(6, 216, 69);
    color: rgb(43, 33, 88);
    width: 150px;
    margin-left: 25%;
    border-radius: 15px;
    padding: 7px 0px;
}
button:hover{
 background-color: #455;
 color: chartreuse;
}